.form {
    margin: 15px auto;
    max-width: 767px;
    width: 100%;
    padding: 15px;
    background-color: hsl(290, 24%, 90%);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(183, 172, 172);
}

.form__legend {
    padding: 10px;
    color: white;
    background-color: hsl(290, 24%, 40%);
    border-style: solid;
    border-width: 0.75px;
    border-radius: 5px;
    border-color: hsl(0, 7%, 60%);
}

.form__paragraph {
    text-align: center;
    margin: 25px auto;
}

.form__labelText {
    text-align: left;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.form__button {
    margin: 10px auto;
    padding: 10px;
    color: white;
    max-width: 860px;
    width: 100%;
    background-color: hsl(290, 24%, 40%);
    border-radius: 5px;
    border-color: rgb(183, 172, 172);
    transition: 0.5s;
}

.form__button:hover {
    background-color: hsl(290, 24%, 50%);
}

.form__button:active {
    background-color: hsl(290, 24%, 60%);
}

.currency {
    width: 100%;
    max-width: 250px;
    display: inline-block;
    border-radius: 5px;
    border-color: rgb(183, 172, 172);
}

.amount {
    width: 100%;
    max-width: 250px;
    display: inline-block;
    border-radius: 5px;
    border-color: rgb(183, 172, 172);
}

.info {
    padding: 10px;
    margin: 10px auto;
}